*{
    margin:0;
    box-sizing: border-box;
}
a:hover{
    background-color: black;
    color:white;
    padding:2px;
    border:2px solid white;
}
a{
    text-decoration:none;
    color:#080F0F;
}
li{
    list-style-type:none;
}
.heading{
    font-size:45px;
    padding:10px;
    color:#080F0F;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    width:40%;
    flex-wrap: wrap;
}

.nav{
    display: flex;
    width:100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#A4BAB7;
    align-items: center;
    justify-content: space-between;
}
.item{
   font-size:20px;
   padding:5px;
   flex:1,1,20;
}
